$pink: pink;
$purple: purple;
$subsection-title-size: 1.5em;

html {
	margin: auto;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Courier New', Courier, monospace;
	background-color: $pink;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.site-header {
	padding: 1rem;
	font-size: 3em;
	margin-bottom: 1rem;
}

.section {
	&-title {
		padding: 0 1rem;
		background-color: $pink;
		font-size: 2em;
		margin-bottom: 0.25em;
	}
	&-body {
		padding: 0 1rem;
		margin-bottom: 1rem;
		overflow: hidden;
	}
}

.poems {
	height: 25em;
	background: linear-gradient($pink, $purple);

	&-title {
		font-size: $subsection-title-size;
		position: absolute;
	}

	&-body {
		position: absolute;

		div {
			background: linear-gradient(90deg, $purple, $pink);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	div {
		animation: blink 0.05s infinite;
	}
}

.thoughts {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	&-title {
		font-size: $subsection-title-size;
		font-size: 2em;
		margin-bottom: 0.5em;
	}

	&-body {
		animation: spin 10s infinite;
		font-size: 1.5em;

		div {
			margin-bottom: 0.5em;
		}
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	99% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
