@import url("https://buns.gay/YoRHA-UI-BetterDiscord/font/stylesheet.css");
html {
  font-family: sce-ps3_rodin_latinregular;
}
html ::-webkit-scrollbar {
  width: 0.5em;
}
html ::-webkit-scrollbar-track {
  background: transparent;
}
html ::-webkit-scrollbar-thumb {
  background: pink;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #ff8da1;
}

body {
  background: url("./assets/bg.webp") repeat-y;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
}

a {
  color: pink;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  color: pink;
}
.site-title {
  font-size: 3em;
  margin-right: 1em;
}
.site-title a {
  display: flex;
  flex-direction: row;
  color: pink;
}
.site-title a:visited, .site-title a:hover, .site-title a:active, .site-title a:link {
  text-decoration: none;
}
.site-link {
  font-size: 2em;
  margin-right: 1em;
}
.site-link a {
  color: pink;
}

.home {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-row-gap: 5em;
  align-items: center;
}
.home > div {
  font-size: 2em;
  color: pink;
}
.home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-left, .home-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.home-left .bnyuu, .home-right .bnyuu {
  padding: 0.25em;
}
.home-left .glitch, .home-right .glitch {
  width: 100%;
  height: auto;
}

.poems {
  display: flex;
  flex-wrap: wrap;
}
.poems .poem {
  box-shadow: -3px 0 0 #ff5a77, -9px 0 0 pink, -21px 0 0 #ff5a77;
  background-color: pink;
  padding: 1em;
  margin-left: calc(21px + 0em);
  margin-bottom: 0em;
  margin-right: 1em;
  margin-bottom: 1em;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.poems .poem-title {
  font-size: 1.5em;
  font-weight: bold;
}
.poems .poem-body div {
  color: black;
}
.poems .poem div {
  animation: blink 0.03s infinite;
}

.thoughts {
  align-self: center;
  max-width: 65%;
}
.thoughts .thought {
  box-shadow: -3px 0 0 #ff5a77, -9px 0 0 pink, -21px 0 0 #ff5a77;
  background-color: pink;
  padding: 1em;
  margin-left: calc(21px + 0em);
  margin-bottom: 0em;
  margin-bottom: 3em;
}
.thoughts .thought-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.thoughts .thought-body {
  animation: spin 10s infinite;
  font-size: 1.5em;
}
.thoughts .thought-body div {
  margin-bottom: 0.5em;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.blink:hover {
  animation: blink 0.03s infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  99% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes bloopy {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.bloop:hover {
  animation: bloopy 0.25s;
  color: #ff5a77;
}

@keyframes spinny1 {
  0% {
    transform: rotate3d(0);
  }
  12% {
    transform: rotateX(-201deg) rotateY(62deg) rotateZ(-245deg);
  }
  25% {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  37% {
    transform: rotateX(130deg) rotateY(137deg) rotateZ(42deg);
  }
  50% {
    transform: rotate3d(2, -1, -1, -0.2turn);
  }
  62% {
    transform: rotateX(130deg) rotateY(137deg) rotateZ(42deg);
  }
  75% {
    transform: rotateX(130deg) rotateY(137deg) rotateZ(42deg);
  }
  87% {
    transform: rotateX(130deg) rotateY(137deg) rotateZ(42deg);
  }
  100% {
    transform: rotate3d(0);
  }
}
.spin1:hover {
  animation: spinny1 1s;
}/*# sourceMappingURL=rabbit.css.map */