{% extends "base.html" %}

{% block content %}


<div class="home">
  <div class="home-left">
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
  </div>
  <div class="home-center">
    <div>hi!!</div>
    <div>am Ames!!!</div>
    <div>welcome to website!!! !!</div>
    <div>so cool!!</div>
  </div>
  <div class="home-right">
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
    <img class="bnyuu" src="../bnuuy.gif" alt="bnuuy" />
  </div>

  <div class="home-left"></div>
  <div class="home-center">
    <div>
      <div>Last Update:</div>
      <br />
      <a href="../art/house/">
        <div class="color">[~1658118665]: house</div>
      </a>
    </div>
  </div>
  <div class="home-right"></div>

  <div class="home-left">
    <img class="glitch" src="../art-dump/bunker-graffiti/hall_c5_cs500.jpg" alt="waw... glitch..." />
  </div>
  <div class="home-center">
    <div>
      look at my
      <a class="bloop" href="./art/">
        <div class="bloop">glitch art!!!</div>
      </a>
    </div>
    <div>waw...</div>
  </div>
  <div class="home-right">
    <img class="glitch" src="../art-dump/bunker-graffiti/sirvs_ps30_cs3.png" alt="waw... glitch..." />
  </div>
</div>

{% endblock content %}
